<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Appalachian State Mountaineers.jpg</string>
	<string>Bethune Cookman Wildcats.jpg</string>
	<string>Boston University Terriers.jpg</string>
	<string>Cal State Northridge Matadors.jpg</string>
	<string>Campbell Fighting Camels.jpg</string>
	<string>Central Connecticut State Blue Devils.jpg</string>
	<string>Central Michigan Chippewas.jpg</string>
	<string>Charleston Southern Buccaneers.jpg</string>
	<string>Coastal Carolina Chanticleers.jpg</string>
	<string>Delaware Fightin' Blue Hens.jpg</string>
	<string>Eastern Kentucky Colonels.jpg</string>
	<string>Eastern Washington Eagles.jpg</string>
	<string>Gardner Webb Runnin' Bulldogs.jpg</string>
	<string>Georgia Southern Eagles.jpg</string>
	<string>Los Angeles Angels of Anaheim.jpg</string>
</array>
</plist>
