<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Appalachian State Mountaineers</string>
	<string>Bethune Cookman Wildcats</string>
	<string>Boston University Terriers</string>
	<string>Cal State Northridge Matadors</string>
	<string>Campbell Fighting Camels</string>
	<string>Central Connecticut State Blue Devils</string>
	<string>Charleston Southern Buccaneers</string>
	<string>Coastal Carolina Chanticleers</string>
	<string>Gardner Webb Runnin' Bulldogs</string>
	<string>Georgia Southern Eagles</string>
	<string>Los Angeles Angels of Anaheim</string>
</array>
</plist>
