<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Aviation Industry Corp. of China.jpg</string>
	<string>Bank of Communications.jpg</string>
	<string>British American Tobacco.jpg</string>
	<string>China Communications Construction.jpg</string>
	<string>China Construction Bank.jpg</string>
	<string>China Merchants Bank.jpg</string>
	<string>China State Construction Engineering.jpg</string>
	<string>China Telecommunications.jpg</string>
	<string>Commonwealth Bank of Australia.jpg</string>
	<string>Enterprise Products Partners.jpg</string>
	<string>Hon Hai Precision Industry.jpg</string>
	<string>Huawei Investment &amp; Holding.jpg</string>
	<string>International Business Machines.jpg</string>
	<string>International Petroleum Investment.jpg</string>
	<string>Nippon Telegraph &amp; Telephone.jpg</string>
	<string>People's Insurance Co. of China.jpg</string>
	<string>Standard Chartered Group.jpg</string>
	<string>Sumitomo Mitsui Financial Group.jpg</string>
	<string>United Continental Holdings.jpg</string>
	<string>Zurich Insurance Group.jpg</string>
</array>
</plist>
